<div class="welcome-page main-container">
  <!-- <div class="welcome-loader">
      <img src="../../../assets/images/rx-loader.gif" alt="" srcset="">
  
    </div> -->
  <div class="row">
    <div class="col-md-6 col-12 order-sm-1 order-2">
      <app-main-slider></app-main-slider>
    </div>
    <div class="col-md-6 col-12 order-sm-2 order-1">
      <!-- <app-welcome-card></app-welcome-card> -->
      <!-- <app-sign-up></app-sign-up> -->
      <!-- <app-privacy-policy></app-privacy-policy> -->
      <!-- <app-signin></app-signin> -->
      <!-- <app-reset-password></app-reset-password> -->
      <!-- <app-doctor-register></app-doctor-register> -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
