<div class="aboutus-container">
  <h3 class="aboutus-head text-center">
    آر إكس Rx
    <br />
    ( حــياة أفضل BETTER LIFE)
  </h3>

  <h4 class="text-center">( ثبيت التطبيـق مجـــــــانا )</h4>

  <p class="text-right">
    تعــــريف <br />
    آر إكـس تطبيق إلكترونى يجمع منظومة الرعاية الصحية بشــكل فريـــد و متكامل عن
    طـــريق ربــط مقــدمى الخدمة من الاطبـــاء ومراكــز الاشـعة ومعامل التحاليل
    الطبية والصــيدليات بالمريــض
  </p>

  <h4 class="text-center">بالنسبة للدكتور</h4>

  <div>
    <p>
      يقدم خدمة حصرية للطبيب حيث يتم انشاء حسـاب خاص بكل طـبيب يمكن من خلالة
      تنظيم وحجز مواعيد العيادة عن طريق اســتخدام تطـبيق التليفون او الموقــع
      الالكــــترونى الخــــاص بـه. يعـنى بكل بســـاطة مـــع آر إكـس عـيادتك
      بتتحـــــول الى Digital وهذا يســــاعدك على حـفظ بيانات المرضـى بكل
      ســـهولة واســـتعادتها فى اى وقت عن طريق انشـــاء كروت زيـارة المرضى
      وتنظيمها وحجــــز مواعيد العيادة بشـكل يومى او اسبوعى او شهرى من خلال جدول
      مواعيد الطبيب المحدد مسبقاً من قبل الطبيب على صفحته الشخصية على آر إكـس
      والتي تظهر للمرضى عند البحث وبذلك يكون الطبيب قادر على متابعة مرضاة فى
      عيادتة او فى اى مكان وفى اى وقت يختارة الطبيب.
    </p>

    <br />

    <p>
      آر إكـس يمكن الطبيب من كتابة التوصيات الطبية من ادوية او تحاليل او اشعة
      وطباعتها بشكل واضح وسهل مع إمكانية ختمهــا إلكـترونيا وارسالها للمريض على
      طريق التطبيق.
    </p>

    <br />

    <p>
      آر إكـس يوفـر خدمة تواصل المريض مع الدكتورفى بعض الاستشارات وقبول اتصال
      فيديو او اتصال صوتى.
    </p>

    <p>
      آر إكـس يوفـــــر للطبيب خــــدمة التواصــل مع شـــــــركات الادوية عن
      طــريق إتصــــــــال فيــديـومدفـــوع الأجــــــــــر ودا
      بيعـــــــــــــــــظم من ربحـية الطبيب وكمــان بيــــــــــوفر وقــــتة
    </p>

    <p>
      آر إكـس مــزود بخــاصــية الإشــعارات حـــيث يقــوم التطــبيق بإرســـال
      إشـــــعار تذكـــيرى للطــبيب بمــواعيد الحجــــــوزات أو اســـــتقبال
      رســالة أو ملف من أحد المرضى
    </p>
  </div>

  <h3 class="text-center">بالنسبة للمريـض</h3>

  <div>
    <p>
      آر إكـس يقدم للمريض خدمة البحث وحجز أفضل الأطباء حسب التخصص والدرجة
      العلمية ومحل سكنة
    </p>

    <p>
      آر إكـس يقــــدم للمريض خدمة التواصـل مع أفضل مراكـــز الاشــــعه ومعامل
      التحاليل مع الحصول على خصومات ممـــيزة
    </p>

    <p>
      آر إكـس يقدم للمريض خدمة التواصــــل مع أقـــــرب صـــيدلية لمحـــل
      ســـكنة لتوصيل الـــدواء حتى بــــــــــاب المــنزل
    </p>

    <p>
      آر إكـس من خــلالة يستطيع المريض ان يتواصل مع الطبيب عن طريق خـدمة الاتصال
      بالفـيديوأوالرسائل
    </p>

    <p>آر إكـس بيـوفـــرللمريض ملف طـبى كامل يحتوى على تاريخة المرضى</p>

    <p>
      آر إكـس يقــــدم للمريض خــدمـة التذكــــير بمواعيـــد
      الادويــــــــــــة. آر إكـس يقدم الرعاية الصحية المنزلية ( تمـريض - وطــب
      أســــــــــــــــرة ). للمرضى من كبــار الســـن أو الغــير قادرين على
      الحــــــــــركة فى الوصــــــول الى مكان الخدمة الصحيــة
    </p>

    <p>
      آر إكـس يقــــدم برامـــج التوعية الطبية على ســبيل المـــثال لا
      الحصـــــــــــر ( بالامراض المزمنة كالضغط والسكر.. وكيفية العناية
      بالاطفال.. التجميل ..الخ).
    </p>

    <p>
      آر إكـس يقــــدم خــدمةVIP ) كونســـلتو ) فى حالة طلب المريض يتم عــرض
      ملفة الطــبى على لجنة من الأسـاتذة الإســتشارين لدراســة الحالة للوصــول
      الى رأى موحد للتشخيص ووضع خطة للعـــــــلاج
    </p>

    <p>
      آر إكـس يقــــــدم خـــدمه تواصــل مرضــى الصـــــــــم والبكــم مع
      المنظـــــومه الصيحة كاملة ( أى التواصل مع مقـــدم الخـدمة الطبية بكافه
      انواعها اثناء تواجـــد المريض بمكان الخـدمة ) وذلك عــــبر اتصــال فيديو
      فى وجــود خـبراء الاشــــارة
    </p>

    <p>
      آر إكـس يقــــــــــدم خـــدمة الرعــاية الطــبية للحيـــوانات المـنزلية
      الاليفــة.
    </p>
  </div>

  <h3 class="text-center">
    رؤيــــــــــــــــة الشـــــــــــــــــــــــــــــــــــركة
  </h3>

  <div>
    <p>
      ســــعت الشركة أن تضــــــــع رؤيـــــة واضـــــحة لمسـتقبل المنظومة
      الطبية لذا كانت رؤيتنـا
    </p>

    <p>
      تقــــــــــوم على اســـاس تســــــــخير
      التكنولوجيـــــــــــــــــــــــــــــا الحـــــــديثـــــة
      للوصــــــــول إلى حيـــــــــاة أفضـــــــــل
    </p>

    <p>
      وبفضــــــــل الله نجحــــــــــــنا فى تصميــــــم منظــــــــــــومة
      صحيـــــة فريـــــــــــــــدة ومتــــــــــكاملة
    </p>

    <p>
      ( تطبيـــــــــق إلكـــــــــــــــــــــــترونى – أر
      إكــــــــــــــــــس RX) يعمـــــــــل علــى ربـــــــــــط
      مقـــــــــدمــى الخــــــــدمــــــــــة
    </p>

    <p>
      ( الطــــبيب , مراكـــــز الأشــــــعة , ومعــــــامــــل
      التحـــــــــــاليل والصـــــيدليـــــــــات ) بالمريـــــــض .
    </p>

    <p>
        <br />
      وذلك من خلال نخبـــــة من الخـــــبراء والمتخصصين بهــــدف الوصـــــول الى
      بيئــــــة أفضل ونشــــــــــر ثقــــافــــة التطــــــــور
      التكنـــــــولوجــــــــــى .
    </p>

    <p>
      إن معيارنا للنجـــاح هو أن نكتســــــــب المزيــد من ثقــــة ورضاء عملاءنا
      وتلبية تطلعـــاتهم
      <br />
      وإحتياجاتهم المتطــــــــورة فى الحاضـــــــر والمستقبل .
    </p>

    <p>
      وســــنظل دوما نســـــــــــــــعى لتقديم أفضــــــــــــــــــــل
      المنتجـــــــــــــــــات والإبتــــــــــكارات
      التكنـــــــــولوجيــــــــــــــــة
    </p>

    <p>
      آملين أن تســــــــــــــــــــهم جهـــــــــــــــودنا فى
      نهضـــــــــــــــة بـــــــــــــلادنـــــــــا .
    </p>
  </div>

  <!-- <h3 class="aboutus-head">
    RX <br />
    Better life style
  </h3> -->
</div>
