<div class="reset-password-card genric-card">
  <h3 class="main-title">Reset Password</h3>
  <p class="reset-password-card__brief">
    Enter the Email used for this account & we will send you a Verification
    email to reset your password
  </p>
  <form #f="ngForm" [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div class="Form-group-wrapper">
        <input
          type="text"
          name="email"
          id="email"
          placeholder="E-mail"
          class="form-control"
          formControlName="email"
        />
        <div class="input-icon">
          <span class="icon-email"></span>
        </div>
        <div
          *ngIf="f.submitted || reactiveForm.controls.email.touched"
          class="error-feedback"
        >
          <p
            *ngIf="
              reactiveForm.controls.email.errors?.required &&
              reactiveForm.controls.email.pristine
            "
          >
            This Field is required
          </p>
          <p
            *ngIf="
              reactiveForm.controls.email.dirty &&
              (reactiveForm.controls.email.errors?.email ||
                reactiveForm.controls.email.errors?.validEmail)
            "
          >
            Please enter a valid email
          </p>
        </div>
      </div>
      <!---->
    </div>
    <div class="welcome-card__btns">
      <button
        class="custom-btn--singup custom-btn btn-main-color"
        type="submit"
      >
        send
      </button>
    </div>
  </form>
  <app-loader *ngIf="isLoaderShow"></app-loader>
</div>
<app-toast aria-live="polite" aria-atomic="true"></app-toast>
