@import "../../../assets/scss/Abstract/mixins.scss";

.pickLocation {
  agm-map {
    display: block;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.pickLocation {
  .form-control {
    padding: 5px;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #d6d6d6;
  }
  .Form-group-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    label {
      font-family: "poppins-regular";
      font-size: 18px;
      font-weight: normal;
      color: #313450;
    }
  }

  .form-control.ng-invalid.ng-touched {
    margin-bottom: 0 !important;
  }
  .error-feedback {
    font-size: 13px;
  }
}


.availability > .availability__details .availability__details {
  @include screen-450{
    width: 100% !important;
    flex-direction: column !important;
  }
}

.availability > .availability__details .availability__details__from{
  @include screen-450{
    width: 100% !important;
  }
}

.availability > .availability__details .availability__details {
  @include screen-450 {
    flex-direction: column !important;
    width: 100% !important;
    justify-content: space-between !important;
  }
}

.availability > .availability__details .availability__details__from {
  @include screen-450{
    width: 100% !important;
  }
}

.availability__details .availability__details{
  @include screen-450{
    width: 100% !important;
  }
}

.availability > .availability__details .availability__details__to{
  @include screen-450{
    width: 100% !important;
  }
}

.section-fees__details .section-fees__details .form-group{
  @include screen-450{
    width: 100%;
  }
}