<div class="welcome-slider">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="welcome-slider__item">
        <div class="welcome-slider__item__image">
          <img
            src="../../../assets/images/image-one.png"
            alt="welcome slider image one"
            srcset=""
          />
        </div>
        <div class="welcome-slider__item__content">
          <h3 class="main-title">Manage your clinic by touch</h3>
          <p class="welcome-slider__item__content__brief">Online payments & reservations</p>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="welcome-slider__item">
        <div class="welcome-slider__item__image">
          <img
            src="../../../assets/images/image-three.png"
            alt="welcome slider image three"
            srcset=""
          />
        </div>
        <div class="welcome-slider__item__content">
          <h3 class="main-title">Electronic Prescription</h3>
          <p class="welcome-slider__item__content__brief">It reach patient immediately</p>
        </div>
      </div></ng-template
    >
    <ng-template carouselSlide>
      <div class="welcome-slider__item">
        <div class="welcome-slider__item__image">
          <img
            src="../../../assets/images/image-two.png"
            alt="welcome slider image two"
            srcset=""
          />
        </div>
        <div class="welcome-slider__item__content">
          <h3 class="main-title">Video Consultation</h3>
          <p class="welcome-slider__item__content__brief">Schedule calls & follows up remotely</p>
        </div>
      </div></ng-template
    >

  </owl-carousel-o>
</div>
<!-- <router-outlet></router-outlet> -->
