<div class="privacy-policy-card genric-card">
  <h3 class="main-title">Privacy Policy</h3>
  <p>
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
    voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
    clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
    amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
    nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
    diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
    clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
    amet.
  </p>
  <div class="privacy-policy-card__agree">

    <label class="checkbox">
      <input type="checkbox" />
      <span>I Agree</span>
  </label>
  </div>
  <div class="welcome-card__btns">
    <button class="custom-btn--singup custom-btn">Sign Up</button>
    </div>
</div>
