@import "../../../../assets/scss/Abstract/variables";
.toast {
  background-color: $primary !important;
  font-family: "poppins-regular" !important;
  font-size: 18px !important;
  font-weight: 500 !important;
  color: #fff !important;
}
